{% extends "base.html.twig" %}
{% use "blocks.html.twig" with header as parent_header %}

{% block header %}
    {{ block('parent_header') }}
{% endblock %}

{% block title %}Add Event{% endblock %}

{% block body %}
    <section id="upcomming-event-section" class="event-section bg-white sec-ptb-200 clearfix">
    <div class="container">
        <div class="form-wrapper">
    {{ form_start(form) }}

            <div class="form-item mb-15">
            {{ form_widget(form.name) }}
            </div>
            <div class="form-item mb-15">
            {{ form_widget(form.description) }}
            </div>
            <div class="form-item mb-15">
                {{ form_widget(form.dateBegin.date.day,{'attr':{'class':'js-example-responsive' }}) }}
                {{ form_widget(form.dateBegin.date.day,{'attr':{'class':'js-example-responsive' }}) }}
            </div>
            <div class="form-item mb-15">
                {{ form_widget(form.dateEnd) }}
            </div>

            <div class="form-item mb-15">
                {{ form_widget(form.location) }}
            </div>

            <div class="form-item mb-15">
                {{ form_widget(form.price) }}
            </div>
            <div class="form-item mb-15">
                {{ form_widget(form.image) }}
            </div>
            <div class="reg-form submit-btn">
                {{ form_widget(form.submit) }}
            </div>
    {{ form_end(form) }}
        </div>
    </div>
    </section>
{% endblock %}