{% block header %}
<header id="header-section" class="header-section default-header-section auto-hide-header clearfix">

    {% block top_header %}<!-- header-top - start -->
    <div class="header-top">
        <div class="container">
            <div class="row">

                <!-- basic-contact - start -->
                <div class="col-lg-6">
                    <div class="basic-contact">
                        <ul>
                            <li>
                                <a href="#">
                                    <i class="fas fa-envelope"></i>
                                    info@harmoni.com
                                </a>
                            </li>
                            <li>
                                <a href="#!">
                                    <i class="fas fa-phone"></i>
                                    100-2222-9999
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- basic-contact - end -->

                <!-- register-login-group - start -->
                <div class="col-lg-6">
                    <div class="register-login-group">
                        <ul>
                            <li>
                                <a href="#register-modal" class="register-modal-btn">
                                    <i class="fas fa-user"></i>
                                    Register
                                </a>
                                <div id="register-modal" class="reglog-modal-wrapper register-modal mfp-hide clearfix" style="background-image: url({{ asset('images/login-modal-bg.jpg') }});">
                                    <div class="overlay-black clearfix">

                                        <!-- leftside-content - start -->
                                        <div class="leftside-content">
                                            <div class="site-logo-wrapper mb-80">
                                                <a href="#!" class="logo">
                                                    <img src="{{ asset('images/2.site-logo.png') }}" alt="logo_not_found">
                                                </a>
                                            </div>
                                            <div class="register-login-link mb-80">
                                                <ul>
                                                    <li><a href="#!">Login</a></li>
                                                    <li class="active"><a href="#!">Register</a></li>
                                                </ul>
                                            </div>
                                            <div class="copyright-text">
                                                <p class="m-0">©2018 <a href="#!" class="yellow-color">Harmoni.com</a> all right reserved, made with <i class="fas fa-heart"></i> by jThemes Studio </p>
                                            </div>
                                        </div>
                                        <!-- leftside-content - end -->

                                        <!-- rightside-content - start -->
                                        <div class="rightside-content text-center">

                                            <div class="mb-30">
                                                <h2 class="form-title title-large white-color">Account <strong>Register</strong></h2>
                                                <span class="form-subtitle white-color">Have an account? <strong>LOGIN NOW</strong></span>
                                            </div>

                                            <div class="login-form text-center mb-50">
                                                <form action="#!">
                                                    <div class="form-item">
                                                        <input type="email" placeholder="User Name">
                                                    </div>
                                                    <div class="form-item">
                                                        <input type="password" placeholder="Password">
                                                    </div>
                                                    <div class="form-item">
                                                        <input type="email" placeholder="Repeat Password">
                                                    </div>
                                                    <div class="form-item">
                                                        <input type="password" placeholder="Email Address">
                                                    </div>
                                                    <div class="human-verification text-left">
                                                        <input type="checkbox" id="imnotarobot">
                                                        <label for="imnotarobot">I'm not a robot</label>
                                                        <span class="verification-image">
																	<img src="{{ asset('images/iamnotrobot.png') }}" alt="Image_not_found">
																</span>
                                                    </div>
                                                    <button type="submit" class="login-btn">login now</button>
                                                </form>
                                            </div>

                                            <div class="bottom-text white-color">
                                                <p class="m-0">
                                                    * Denotes mandatory field.
                                                </p>
                                                <p class="m-0">** At least one telephone number is required.</p>
                                            </div>

                                        </div>
                                        <!-- rightside-content - end -->

                                        <a class="popup-modal-dismiss" href="#!">
                                            <i class="fas fa-times"></i>
                                        </a>

                                    </div>
                                </div>
                            </li>
                            <li>
                                <a href="#login-modal" class="login-modal-btn">
                                    <i class="fas fa-lock"></i>
                                    Login
                                </a>
                                <div id="login-modal" class="reglog-modal-wrapper mfp-hide clearfix" style="background-image: url({{ asset('images/login-modal-bg.jpg') }});">
                                    <div class="overlay-black clearfix">

                                        <!-- leftside-content - start -->
                                        <div class="leftside-content">
                                            <div class="site-logo-wrapper mb-80">
                                                <a href="#!" class="logo">
                                                    <img src="{{ asset('images/2.site-logo.png') }}" alt="logo_not_found">
                                                </a>
                                            </div>
                                            <div class="register-login-link mb-80">
                                                <ul>
                                                    <li class="active"><a href="#!">Login</a></li>
                                                    <li><a href="#!">Register</a></li>
                                                </ul>
                                            </div>
                                            <div class="copyright-text">
                                                <p class="m-0">©2018 <a href="#!" class="yellow-color">Harmoni.com</a> all right reserved, made with <i class="fas fa-heart"></i> by jThemes Studio </p>
                                            </div>
                                        </div>
                                        <!-- leftside-content - end -->

                                        <!-- rightside-content - start -->
                                        <div class="rightside-content text-center">

                                            <div class="mb-30">
                                                <h2 class="form-title title-large white-color">Account <strong>Login</strong></h2>
                                                <span class="form-subtitle white-color">Login to our website, or <strong>REGISTER</strong></span>
                                            </div>

                                            <div class="fb-login-btn mb-30">
                                                <a href="#!">
															<span class="icon">
																<i class="fab fa-facebook-f"></i>
															</span>
                                                    login with facebook
                                                </a>
                                            </div>

                                            <div class="or-text mb-30">
                                                <span>or sign in</span>
                                            </div>

                                            <div class="login-form text-center mb-50">
                                                <form action="#!">
                                                    <div class="form-item">
                                                        <input type="email" placeholder="example@gmail.com">
                                                    </div>
                                                    <div class="form-item">
                                                        <input type="password" placeholder="Password">
                                                    </div>
                                                    <button type="submit" class="login-btn">login now</button>
                                                </form>
                                            </div>

                                            <div class="bottom-text white-color">
                                                <p class="m-0">
                                                    * Denotes mandatory field.
                                                </p>
                                                <p class="m-0">** At least one telephone number is required.</p>
                                            </div>

                                        </div>
                                        <!-- rightside-content - end -->

                                        <a class="popup-modal-dismiss" href="#!">
                                            <i class="fas fa-times"></i>
                                        </a>

                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- register-login-group - end -->

            </div>
        </div>
    </div>
    <!-- header-top - end -->
{% endblock %}
    <!-- header-bottom - start -->
    <div class="header-bottom">
        <div class="container">
            <div class="row">

                <!-- site-logo-wrapper - start -->
                <div class="col-lg-3">
                    <div class="site-logo-wrapper">
                        <a href="index-1.html" class="logo">
                            <img src="{{ asset('images/0.site-logo.png') }}" alt="logo_not_found">
                        </a>
                    </div>
                </div>
                <!-- site-logo-wrapper - end -->
{#TODO menu items#}
                <!-- mainmenu-wrapper - start -->
                <div class="col-lg-9">
                    <div class="mainmenu-wrapper">
                        <div class="row">

                            <!-- menu-item-list - start -->
                            <div class="col-lg-10">
                                <div class="menu-item-list ul-li clearfix">
                                    <ul>
                                        <li class="menu-item-has-children">
                                            <a href="#">home</a>
                                            <ul class="sub-menu">
                                                <li class="menu-item-has-children">
                                                    <a href=''>home v.1</a>
                                                    <ul class="sub-menu">
                                                        <li>
                                                            <a href='#'>example v.1.1</a>
                                                        </li>
                                                        <li>
                                                            <a href='#'>example v.1.2</a>
                                                        </li>
                                                        <li>
                                                            <a href='#'>example v.1.3</a>
                                                        </li>
                                                        <li>
                                                            <a href='#'>example v.1.4</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li class="menu-item-has-children">
                                                    <a href=''>home v.2</a>
                                                    <ul class="sub-menu">
                                                        <li>
                                                            <a href='#'>example v.2.1</a>
                                                        </li>
                                                        <li>
                                                            <a href='#'>example v.2.2</a>
                                                        </li>
                                                        <li>
                                                            <a href='#'>example v.2.3</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li class="menu-item-has-children">
                                                    <a href='index-3.html'>home v.3</a>
                                                    <ul class="sub-menu">
                                                        <li>
                                                            <a href='#'>example v.3.1</a>
                                                        </li>
                                                        <li>
                                                            <a href='#'>example v.3.2</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li class="menu-item-has-children">
                                                    <a href='index-4.html'>home v.4</a>
                                                    <ul class="sub-menu">
                                                        <li>
                                                            <a href='#'>example v.4.1</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="menu-item-has-children">
                                            <a href="#!">about</a>
                                            <ul class="sub-menu">
                                                <li><a href="about.html">about us</a></li>
                                                <li><a href='service.html'>service</a></li>
                                                <li><a href='faq.html'>FAQ</a></li>
                                            </ul>
                                        </li>
                                        <li class="menu-item-has-children active">
                                            <a href="#!">events</a>
                                            <ul class="sub-menu">
                                                <li class="menu-item-has-children">
                                                    <a href='event-1.html'>event List</a>
                                                    <ul class="sub-menu">
                                                        <li><a href="event-1-without-sidebar.html">list without sidebar</a></li>
                                                    </ul>
                                                </li>
                                                <li class="menu-item-has-children">
                                                    <a class="active" href='event-2.html'>event Grid</a>
                                                    <ul class="sub-menu">
                                                        <li><a class="active" href="about.html">grid without sidebar</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href='event-details.html'>event details</a></li>
                                                <li><a href='booking.html'>event booking</a></li>
                                            </ul>
                                        </li>
                                        <li class="menu-item-has-children">
                                            <a href="#!">blogs</a>
                                            <ul class="sub-menu">
                                                <li><a href='blog.html'>blog</a></li>
                                                <li><a href='blog-details.html'>blog details</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="gallery.html">gallery</a>
                                        </li>
                                        <li>
                                            <a href="speaker.html">speaker</a>
                                        </li>
                                        <li class="menu-item-has-children">
                                            <a href="#!">contact</a>
                                            <ul class="sub-menu">
                                                <li><a href="contact.html">contact us</a></li>
                                                <li><a href='404-error.html'>404 Error</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- menu-item-list - end -->

                            <!-- menu-item-list - start -->
                            <div class="col-lg-2">
                                <div class="user-search-btn-group ul-li clearfix">
                                    <ul>
                                        <li>
                                            <a href="#!">
                                                <i class="fas fa-user"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <button type="button" class="toggle-overlay search-btn">
                                                <i class="fas fa-search"></i>
                                            </button>
                                            <!-- search-body - start -->
                                            <div class="search-body">
                                                <div class="search-form">
                                                    <form action="#">
                                                        <input class="search-input" type="search" placeholder="Search Here">
                                                        <div class="outer-close toggle-overlay">
                                                            <button type="button" class="search-close">
                                                                <i class="fas fa-times"></i>
                                                            </button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                            <!-- search-body - end -->
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- menu-item-list - end -->

                        </div>
                    </div>
                </div>
                <!-- mainmenu-wrapper - end -->

            </div>
        </div>
    </div>
    <!-- header-bottom - end -->

</header>
{% endblock %}