{% extends 'base.html.twig' %}

{% block title %}Home page{% endblock %}

{% block body %}
    <!-- upcomming-event-section - start
                ================================================== -->
    <section id="upcomming-event-section" class="upcomming-event-section sec-ptb-100 clearfix">
        <div class="container">

            <!-- section-title - start -->
            <div class="section-title text-center mb-50">
                <small class="sub-title">upcomming events</small>
                <h2 class="big-title">Latest <strong>Awesome Events</strong></h2>
            </div>
            <!-- section-title - end -->

            <div id="countup">
                <div class="part"><div id="d"></div></div>
                <div class="part"><div id="h"></div></div>
                <div class="part"><div id="m"></div></div>
                <div class="part"><div id="s"></div></div>
            </div>

            <!-- upcomming-event-carousel - start -->
            <div id="upcomming-event-carousel" class="upcomming-event-carousel owl-carousel owl-theme">

                <!-- item - start -->
                <div class="item">
                    <div class="event-item">

                        <!-- <div class="countdown-timer">
                                        <ul class="countdown-list" data-countdown="2019/01/01"></ul>
                                    </div> -->

                        <div class="event-image">
                            <img src="{{ asset('images/upcomming-events/event-1.jpg') }}" alt="Image_not_found">
                            <div class="post-date">
                                <span class="date">26</span>
                                <small class="month">june</small>
                            </div>
                        </div>

                        <div class="event-content">
                            <div class="event-title mb-30">
                                <h3 class="title">
                                    The Governors Music Festival 2018
                                </h3>
                                <span class="ticket-price yellow-color">Tickets from $52</span>
                            </div>
                            <div class="event-post-meta ul-li-block mb-30">
                                <ul>
                                    <li>
												<span class="icon">
													<i class="far fa-clock"></i>
												</span>
                                        Start 20:00pm - 22:00pm
                                    </li>
                                    <li>
												<span class="icon">
													<i class="fas fa-map-marker-alt"></i>
												</span>
                                        Manhattan, New York
                                    </li>
                                </ul>
                            </div>
                            <a href="#!" class="custom-btn">
                                tickets & details
                            </a>
                        </div>

                    </div>
                </div>
                <!-- item - end -->

                <!-- item - start -->
                <div class="item">
                    <div class="event-item">

                        <!-- <div class="countdown-timer">
                                        <ul class="countdown-list" data-countdown="2019/01/01"></ul>
                                    </div> -->

                        <div class="event-image">
                            <img src="{{ asset('images/upcomming-events/event-2.jpg') }}" alt="Image_not_found">
                            <div class="post-date">
                                <span class="date">28</span>
                                <small class="month">aug</small>
                            </div>
                        </div>

                        <div class="event-content">
                            <div class="event-title mb-30">
                                <h3 class="title">
                                    The Governors Music Festival 2018
                                </h3>
                                <span class="ticket-price yellow-color">Tickets from $52</span>
                            </div>
                            <div class="event-post-meta ul-li-block mb-30">
                                <ul>
                                    <li>
												<span class="icon">
													<i class="far fa-clock"></i>
												</span>
                                        Start 20:00pm - 22:00pm
                                    </li>
                                    <li>
												<span class="icon">
													<i class="fas fa-map-marker-alt"></i>
												</span>
                                        Manhattan, New York
                                    </li>
                                </ul>
                            </div>
                            <a href="#!" class="custom-btn">
                                tickets & details
                            </a>
                        </div>

                    </div>
                </div>
                <!-- item - end -->

                <!-- item - start -->
                <div class="item">
                    <div class="event-item">

                        <!-- <div class="countdown-timer">
                                        <ul class="countdown-list" data-countdown="2019/01/01"></ul>
                                    </div> -->

                        <div class="event-image">
                            <img src="{{ asset('images/upcomming-events/event-3.jpg') }}" alt="Image_not_found">
                            <div class="post-date">
                                <span class="date">20</span>
                                <small class="month">may</small>
                            </div>
                        </div>

                        <div class="event-content">
                            <div class="event-title mb-30">
                                <h3 class="title">
                                    The Governors Music Festival 2018
                                </h3>
                                <span class="ticket-price yellow-color">Tickets from $52</span>
                            </div>
                            <div class="event-post-meta ul-li-block mb-30">
                                <ul>
                                    <li>
												<span class="icon">
													<i class="far fa-clock"></i>
												</span>
                                        Start 20:00pm - 22:00pm
                                    </li>
                                    <li>
												<span class="icon">
													<i class="fas fa-map-marker-alt"></i>
												</span>
                                        Manhattan, New York
                                    </li>
                                </ul>
                            </div>
                            <a href="#!" class="custom-btn">
                                tickets & details
                            </a>
                        </div>

                    </div>
                </div>
                <!-- item - end -->

                <!-- item - start -->
                <div class="item">
                    <div class="event-item">

                        <!-- <div class="countdown-timer">
                                        <ul class="countdown-list" data-countdown="2019/01/01"></ul>
                                    </div> -->

                        <div class="event-image">
                            <img src="{{ asset('images/upcomming-events/event-1.jpg') }}" alt="Image_not_found">
                            <div class="post-date">
                                <span class="date">26</span>
                                <small class="month">june</small>
                            </div>
                        </div>

                        <div class="event-content">
                            <div class="event-title mb-30">
                                <h3 class="title">
                                    The Governors Music Festival 2018
                                </h3>
                                <span class="ticket-price yellow-color">Tickets from $52</span>
                            </div>
                            <div class="event-post-meta ul-li-block mb-30">
                                <ul>
                                    <li>
												<span class="icon">
													<i class="far fa-clock"></i>
												</span>
                                        Start 20:00pm - 22:00pm
                                    </li>
                                    <li>
												<span class="icon">
													<i class="fas fa-map-marker-alt"></i>
												</span>
                                        Manhattan, New York
                                    </li>
                                </ul>
                            </div>
                            <a href="#!" class="custom-btn">
                                tickets & details
                            </a>
                        </div>

                    </div>
                </div>
                <!-- item - end -->

                <!-- item - start -->
                <div class="item">
                    <div class="event-item">

                        <!-- <div class="countdown-timer">
                                        <ul class="countdown-list" data-countdown="2019/01/01"></ul>
                                    </div> -->

                        <div class="event-image">
                            <img src="{{ asset('images/upcomming-events/event-2.jpg') }}" alt="Image_not_found">
                            <div class="post-date">
                                <span class="date">28</span>
                                <small class="month">aug</small>
                            </div>
                        </div>

                        <div class="event-content">
                            <div class="event-title mb-30">
                                <h3 class="title">
                                    The Governors Music Festival 2018
                                </h3>
                                <span class="ticket-price yellow-color">Tickets from $52</span>
                            </div>
                            <div class="event-post-meta ul-li-block mb-30">
                                <ul>
                                    <li>
												<span class="icon">
													<i class="far fa-clock"></i>
												</span>
                                        Start 20:00pm - 22:00pm
                                    </li>
                                    <li>
												<span class="icon">
													<i class="fas fa-map-marker-alt"></i>
												</span>
                                        Manhattan, New York
                                    </li>
                                </ul>
                            </div>
                            <a href="#!" class="custom-btn">
                                tickets & details
                            </a>
                        </div>

                    </div>
                </div>
                <!-- item - end -->

                <!-- item - start -->
                <div class="item">
                    <div class="event-item">

                        <!-- <div class="countdown-timer">
                                        <ul class="countdown-list" data-countdown="2019/01/01"></ul>
                                    </div> -->

                        <div class="event-image">
                            <img src="{{ asset('images/upcomming-events/event-3.jpg') }}" alt="Image_not_found">
                            <div class="post-date">
                                <span class="date">20</span>
                                <small class="month">may</small>
                            </div>
                        </div>

                        <div class="event-content">
                            <div class="event-title mb-30">
                                <h3 class="title">
                                    The Governors Music Festival 2018
                                </h3>
                                <span class="ticket-price yellow-color">Tickets from $52</span>
                            </div>
                            <div class="event-post-meta ul-li-block mb-30">
                                <ul>
                                    <li>
												<span class="icon">
													<i class="far fa-clock"></i>
												</span>
                                        Start 20:00pm - 22:00pm
                                    </li>
                                    <li>
												<span class="icon">
													<i class="fas fa-map-marker-alt"></i>
												</span>
                                        Manhattan, New York
                                    </li>
                                </ul>
                            </div>
                            <a href="#!" class="custom-btn">
                                tickets & details
                            </a>
                        </div>

                    </div>
                </div>
                <!-- item - end -->

            </div>
            <!-- upcomming-event-carousel - end -->

        </div>
    </section>
    <!-- upcomming-event-section - end
                ================================================== -->


    <!-- google map - start
                ================================================== -->
    <section id="map-section" class="map-section clearfix">
        <div class="address-wrapper">

            <!-- address-info-topbar - start -->
            <div class="address-info-topbar mb-30 clearfix">
                <div class="address-info-left">
                    <h3 class="title-text">harmoni event management</h3>
                    <p class="m-0">
                        Apple Store, 112 Prince St New York,
                        NY 10012, United States 80361,
                        United States
                    </p>
                </div>

                <div class="address-info-right">
                    <ul>
                        <li>
                            <button type="button">
                                <span class="icon"><i class="fas fa-street-view"></i></span>
                                <small>Direction</small>
                            </button>
                        </li>
                        <li>
                            <button type="button">
                                <span class="icon"><i class="fas fa-rss"></i></span>
                                <small>Save</small>
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- address-info-topbar - end -->

            <!-- address-info-bottombar - start -->
            <div class="address-info-bottombar clearfix">
                <div class="address-info-left">
                    <div class="rating-star">
                        <span class="rating-point">4.5</span>
                        <ul>
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="fas fa-star-half"></i></li>
                        </ul>
                    </div>
                    <p class="m-0">105 reviews</p>
                </div>

                <div class="address-info-right">
                    <button type="button" class="map-larger-btn">
                        view larger map
                    </button>
                </div>
            </div>
            <!-- address-info-bottombar - end -->

        </div>
        <div id="google-map">
            <div id="googleMaps" class="google-map-container"></div>
        </div>
    </section>
    <!-- google map - end
                ================================================== -->

{% endblock %}
